<ion-content>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body style="  font-family: 'Comfortaa', cursive; ">
    <div class="container-fluid col s12" >
      <br>
      <div class="row">
        <div class="col">
          <div class="card">
            <div style="padding: 7rem;">    
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-center">
                  <h4>Gallaery</h4>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="images">
                    <ion-card>
                      <ion-card-content>
                        <div class="one-image" *ngFor="let img of imageList">
                          <img [src]="img" alt="" srcset="">
                        </div>
                      </ion-card-content>
                    </ion-card>
                  </div>
                </ion-col>
              </ion-row> 
              <ion-row>
                <ion-col class="ion-text-center">
                  <ion-button  (click)="Home()">Go to home</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>

























































































































































































































































































































































































































































































































































































































































































































































































































































































































































</ion-content>