.btn
{
    color:white;
    font-size: 90%;
    border-radius: 1rem;
    letter-spacing: .05rem;
    font-weight: bold;
    padding:0.75rem;
    transition: all 0.2s;
    background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card
{
    background: #6441A5;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to top, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to top, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.1);border-radius: 1rem;
}