<ion-content>
<ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3>Image Picker</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button  (click)="photoService.takePicture()">Click Images</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <img class="galleryimage" [src]="currentImage" *ngIf="photoService.currentImage" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="images">
          <div class="one-image galleryimage" *ngFor="let photo of photoService.photos">
          <ion-card>
             <ion-card-content>
              <a (click)="selectImage(photo.data)">
                <img [src]="photo.data" />
              </a>
           </ion-card-content>
         </ion-card>
          </div>
          </div>
      </ion-col>
    </ion-row>
  <ion-row>
      <ion-col class="ion-text-center">
        <h3>Image Selected</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="images">
        <ion-card>
        <ion-card-content>
          <div class="one-image" *ngFor="let img of imageLists">
            <img [src]="img" alt="" srcset="">
          </div>
          </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button  (click)="uploadImage()">Click to Upload</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>